# Project Seed

/.imdone
/vendor
/node_modules
/bower_components
.env.php
.env
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.remote-sync.json
.git

Icon?
ehthumbs.db
Thumbs.db
composer.lock
npm-debug.log
