.uppercase {
    text-transform: uppercase;
}
.wrapper {
    margin-top: 60px;
}
.text-right {
    text-align: right;
}
h1, h2, h3 {
    font-weight: 100;
}
h4, h5, h6 {
    color: rgba(0, 0, 0, 0.25);
}
.navbar-brand img {
    width: 78px;
    margin-bottom: 15px;
}
.select {
    display: none;
}
.selectize-control {
    display: block;
}
.zero_result {
    color: rgba(0, 0, 0, 0.25);
}
.table tr {
    font-size: 12px;
}
.title-padding{
    padding: 30px;
}
.text-muted {
    color: #929292!important;
}
.btn-page {
    margin-top: 15px;
}
