.uppercase {
    text-transform: uppercase;
}
.wrapper {
    margin-top: 60px;
}
.text-right {
    text-align: right;
}
h1, h2, h3 {
    font-weight: 100;
}
h4, h5, h6 {
    color: rgba(0, 0, 0, 0.25);
}
.navbar-brand img {
    width: 78px;
    margin-bottom: 15px;
}
.select {
    display: none;
}
.selectize-control {
    display: block;
}
.zero_result {
    color: rgba(0, 0, 0, 0.25);
}
.table tr {
    font-size: 12px;
}
.loading {
    display: none;
}
.loading .background {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    z-index: 999998;
}
.loading .indicator {
    color: #fff;
    width: 100%;
    position: absolute;
    margin-top: 20%;
    text-align: center;
    z-index: 999999;
}
